<mat-toolbar color="primary" class="navbar">
  <div class="toolbar-left">
    <button mat-button class="brand" routerLink="/dashboard">
      <mat-icon>business</mat-icon>
      ELMS
    </button>
    <span class="spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/leaves" *ngIf="!isManager()">My Leaves</button>
    <button mat-button routerLink="/leaves/apply" *ngIf="!isManager()">Apply Leave</button>
    <button mat-button routerLink="/manager/team-leaves" *ngIf="isManager()">Team Leaves</button>
  </div>
  <div class="toolbar-right" *ngIf="currentUser$ | async as user">
    <mat-icon>account_circle</mat-icon>
    <span class="user-name">{{ user.name }}</span>
    <mat-chip-list>
      <mat-chip color="accent" selected>{{ user.role }}</mat-chip>
    </mat-chip-list>
    <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
